# AWS connection - Corrected with URL-encoded forward slash (%2F)
AIRFLOW_CONN_AWS_DEFAULT="aws:// add your acces key :add your private key@/?region_name=ap-south-1"

#
# Databricks connection - Added the explicit 'token:' prefix for the password field
AIRFLOW_CONN_DATABRICKS_DEFAULT="databricks://token:add your api tocken @dbc-3b02f732-b794.cloud.databricks.com"
