# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
.venv/
venv/

# Airflow
logs/
config/
airflow.db

# Environment
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Docker
*.pid